<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ksmart.franchise.head.sub.repository.SubMapper">
<!-- POJO객체와 DB column명을 맞춰줍니다 -->
	<!-- sub 테이블 -->
	<resultMap type="org.ksmart.franchise.head.sub.model.Sub" id="SubResultMap">
		<id property="subCode" column="sub_code"/>
		<result property="headStaffId" column="head_staff_id"/>
		<result property="subRegitDate" column="sub_regit_date"/>
		<result property="subName" column="sub_name"/>
		<result property="subOwner" column="sub_owner"/>
		<result property="subPhoneFirst" column="sub_phone_first"/>
		<result property="subPhoneSecond" column="sub_phone_second"/>
		<result property="subPhoneThird" column="sub_phone_third"/>
		<result property="subPost" column="sub_post"/>
		<result property="subRoadAddr" column="sub_road_addr"/>
		<result property="subParcelAddr" column="sub_parcle_addr"/>
	</resultMap>
	
	<!-- sub의 리스트를 봅니다 (검색포함)-->
	<select id="selectSub" parameterType="java.util.Map" resultMap="SubResultMap">
		SELECT sub_code, head_staff_id, sub_regit_date, sub_name, sub_owner, sub_phone_first, sub_phone_second, sub_phone_third, sub_post, sub_road_addr, sub_parcle_addr
		FROM sub
		<where>
			<if test="subSearch.regitDateStart != null and subSearch.regitDateEnd != null and subSearch.regitDateStart !='' and subSearch.regitDateEnd !=''">
				<![CDATA[date(sub_regit_date) >= #{subSearch.regitDateStart} and date(sub_regit_date) <= #{subSearch.regitDateEnd}]]>  
			</if>
			<if test="subSearch.searchKey != null and subSearch.searchKey != '' and subSearch.searchItem != null and subSearch.searchItem != ''">
				AND  ${subSearch.searchKey} like CONCAT('%',#{subSearch.searchItem},'%') 
			</if> 
		</where> 
		<trim prefix="ORDER BY">
			<if test="subSearch.criteria == null or subSearch.criteria == ''">
				sub_regit_date
			</if>
			<if test="subSearch.criteria != null or subSearch.criteria != ''">
				${subSearch.criteria} ${subSearch.upDown}
			</if>
		</trim>
	</select>
	
	<!-- sub 하나의 상세를 봅니다  -->
	<select id="selectOneSub" parameterType="java.util.Map" resultMap="SubResultMap">
		SELECT sub_code, head_staff_id, sub_regit_date, sub_name, sub_owner, sub_phone_first, sub_phone_second, sub_phone_third, sub_post, sub_road_addr, sub_parcle_addr
		FROM sub
		WHERE sub_code = #{subCode}
	</select>
	
	<!-- sub을 추가합니다 -->
	<insert id="insertSub" parameterType="java.util.Map">
		<selectKey resultType="hashmap" keyProperty="subCode" order="BEFORE">
			SELECT if(isnull(sub_code),'sub_code1', concat('sub_code', MAX(CONVERT(SUBSTRING(sub_code,9), UNSIGNED))+1)) AS subCode
			FROM sub
		</selectKey>
		INSERT INTO sub
			(sub_code, sub_name, sub_regit_date, sub_owner, sub_phone_first, sub_phone_second, sub_phone_third, sub_post, sub_road_addr, sub_parcle_addr, head_staff_id)
			VALUES (#{subCode}, #{sub.subName}, NOW(), #{sub.subOwner}, #{sub.subPhoneFirst}, #{sub.subPhoneSecond}, #{sub.subPhoneThird}, #{sub.subPost}, #{sub.subRoadAddr}, #{sub.subParcelAddr}, #{sub.headStaffId})
	</insert>
	
	<!-- sub을 수정합니다 -->
	<update id="updateSub" parameterType="java.util.Map">
		UPDATE sub
		SET
			sub_name=#{sub.subName},
			sub_owner=#{sub.subOwner},
			sub_phone_first=#{sub.subPhoneFirst},
			sub_phone_second=#{sub.subPhoneSecond},
			sub_phone_third=#{sub.subPhoneThird},
			sub_post=#{sub.subPost},  
			sub_road_addr=#{sub.subRoadAddr},
			sub_parcle_addr=#{sub.subParcelAddr}
		WHERE sub_code=#{sub.subCode}
	</update>
</mapper>