<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ksmart.franchise.head.payment.repository.PaymentMapper">
	
	<!-- POJO객체와 DB column명을 맞춰줍니다 -->
	<resultMap type="org.ksmart.franchise.head.payment.model.Payment" id="paymentResultMap">
		<id property="payMethodCode" column="pay_method_code"/>
		<result property="payMethod" column="pay_method"/>
		<result property="profitPercent" column="profit_percent"/>
		<result property="headStaffId" column="head_staff_id"/>
		<result property="profitRegitDate" column="profit_regit_date"/>
		<result property="profitStatus" column="profit_status"/>
	</resultMap>
	
	
	<!-- 결제방식의 리스트를 봅니다 (검색포함)-->
	<select id="selectPayment" parameterType="java.util.Map" resultMap="paymentResultMap">
		SELECT pay_method_code, pay_method, profit_percent, head_staff_id, profit_regit_date, profit_status
		FROM profit_by_pay_method
		<where>
			<if test="search.searchKey != null and search.searchKey != '' and search.searchItem != null and search.searchItem != ''">
				${search.searchKey} like CONCAT('%',#{search.searchItem},'%') 
			</if> 
			<if test="search.status != null and search.status != ''">
				AND profit_status = #{search.status}
			</if> 
		</where> 
		<trim prefix="ORDER BY">
			<if test="search.criteria == null or search.criteria == ''">
				profit_regit_date DESC
			</if>
			<if test="search.criteria != null or search.criteria != ''">
				${search.criteria} ${search.upDown}
			</if>
		</trim>
	</select>
</mapper>