<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ksmart02.cafe.headStaff.repository.HeadStaffMapper">
    <!-- 본사직원 등록하는 쿼리(박종무0722) -->
	<insert id="insertHeadStaff" parameterType="org.ksmart.franchise.head.headStaff.model.HeadStaffCommand" useGeneratedKeys="true" keyProperty="headStaffId" > 
		<selectKey resultType="hashmap" keyProperty="headStaffId" order="BEFORE">
		select if(isnull(head_staff_id),'head_staff_id1', concat('head_staff_id', MAX(CONVERT(SUBSTRING(head_staff_id,14), UNSIGNED))+1)) 
			as headStaffId from head_staff
		</selectKey>  
		INSERT INTO head_staff 
			(head_staff_id,	head_staff_pw, head_staff_name, head_staff_level, head_staff_dep, head_staff_regit_date, head_staff_regit_id, 
			 head_staff_join, head_staff_phone_first, head_staff_phone_second, head_staff_phone_third, head_staff_post, head_staff_road_addr, head_staff_parcle_addr)
		VALUES (#{headStaffId}, '0000', #{headStaffName}, '관리자', #{headStaffDep},  NOW(), 'id001', NOW(), #{headStaffPhoneFirst},#{headStaffPhoneSecond}, #{headStaffPhoneThird}, #{headStaffPost}, #{headStaffRoadAddr}, #{headStaffParcleAddr})      
	</insert>

	<!-- resultType="org.ksmart02.cafe.headStaff.model.HeadStaff" -->
	
	<!--  본사 직원 로그인 하는 쿼리 -->
	<!-- <select id="selectHeadStaffLogin" parameterType="java.util.Map" resultMap="HeadStaffLoginResultMap">
		SELECT
			head_staff_id, head_staff_pw, head_staff_name, head_staff_level
		FROM	
			head_staff
		WHERE
			head_staff_id = #{headStaffLogin.headStaffId} and head_staff_pw = #{headStaffLogin.headStaffPw}
	</select> -->
	
	<select id="selectHeadStaffLogin" parameterType="org.ksmart.franchise.head.headStaff.model.HeadStaffLogin" resultMap="HeadStaffLoginResultMap">
		SELECT
			head_staff_id, head_staff_pw, head_staff_name, head_staff_level
		FROM	
			head_staff
		WHERE
			head_staff_id = #{headStaffId} and head_staff_pw = #{headStaffPw}
	</select>
	
	
	<resultMap type="org.ksmart.franchise.head.headStaff.model.HeadStaffLogin" id="HeadStaffLoginResultMap">
		 <id property="headStaffId" column="head_staff_id"/>
		 <result property="headStaffName" column="head_staff_name" />
		 <result property="headStaffLevel" column="head_staff_level" />
		 <result property="headStaffPw" column="head_staff_pw" />
	</resultMap>
	
	<!-- 본사직원 리스트 조회하는 쿼리  -->  
	<select id="selectHeadStaffList" resultMap="HeadStaffResultMap" parameterType="java.util.Map">
		SELECT
			head_staff_id,
			head_staff_pw,
			head_staff_name,
			head_staff_level,
			head_staff_dep,
			head_staff_join,
			head_staff_resign,
			head_staff_regit_date,
			head_staff_regit_id,
			head_staff_resign_identify
		From head_staff
		where head_staff_resign_identify = #{headStaff.resignIdentify}
		<where>
			
<!--  			<![CDATA[head_staff_resign2 = Y	]]>  -->
			
			<if test='headStaffSearch.searchHeadStaffInfo != null and headStaffSearch.searchHeadStaffInfo != "" '>
				AND ${headStaffSearch.searchHeadStaffKey} like CONCAT('%',#{headStaffSearch.searchHeadStaffInfo},'%')
			</if>
		</where>
		<trim prefix="ORDER BY">
			<if test="headStaffSearch.criteria == null or headStaffSearch.criteria == ''">
				head_staff_join DESC
			</if>
			<if test="headStaffSearch.criteria != null or headStaffSearch.criteria != ''">
				${headStaffSearch.criteria} ${headStaffSearch.upDown}
			</if>
		</trim> 
	</select> 
	<resultMap id="HeadStaffResultMap" type="org.ksmart.franchise.head.headStaff.model.HeadStaff">
		<result property="headStaffId" column="head_staff_id" />
		<result property="headStaffPw" column="head_staff_pw" />
		<result property="headStaffName" column="head_staff_name" />
		<result property="headStaffLevel" column="head_staff_level" />
		<result property="headStaffDep" column="head_staff_dep" />
		<result property="headStaffJoin" column="head_staff_join" />
	 	<result property="headStaffResign" column="head_staff_resign" /> 
		<result property="headStaffRegitDate" column="head_staff_regit_date" />
		<result property="headStaffRegitId" column="head_staff_regit_id" />
		<result property="resignIdentify" column="head_staff_resign_identify" />
		<result property="headStaffPost" column="head_staff_post" />  
		<result property="headStaffRoadAddr" column="head_staff_road_addr" />
		<result property="headStaffParcleAddr" column="head_staff_parcle_addr" />
		<result property="headStaffPhoneFirst" column="head_staff_phone_first" />
		<result property="headStaffPhoneSecond" column="head_staff_phone_second" />
		<result property="headStaffPhoneThird" column="head_staff_phone_third" />
	</resultMap>

	<!-- 본사직원 디테일 정보 가져오는 쿼리  -->
	<select id="selectHeadStaffDetail" resultMap="HeadStaffResultMap">
		SELECT
			head_staff_id,
			head_staff_pw,
			head_staff_name,
			head_staff_level,
			head_staff_dep,
			head_staff_join,
 			head_staff_resign,
 			head_staff_regit_date,
 			head_staff_post, 
 			head_staff_road_addr, 
 			head_staff_parcle_addr,
			head_staff_regit_id,
			head_staff_phone_first, 
			head_staff_phone_second, 
			head_staff_phone_third
			
		From head_staff
		WHERE head_staff_id = #{headStaffId}
		ORDER BY head_staff_join DESC	
	</select>
<!-- 	<resultMap id="HeadStaffResult" type="org.ksmart.franchise.head.headStaff.model.HeadStaff"> -->
<!-- 		<result property="headStaffId" column="head_staff_id" /> -->
<!-- 		<result property="headStaffPw" column="head_staff_pw" /> -->
<!-- 		<result property="headStaffName" column="head_staff_name" /> -->
<!-- 		<result property="headStaffLevel" column="head_staff_level" /> -->
<!-- 		<result property="headStaffDep" column="head_staff_dep" /> -->
<!-- 		<result property="headStaffJoin" column="head_staff_join" /> -->
<!-- 		<result property="headStaffResign" column="head_staff_resign" />  -->
<!-- 		<result property="headStaffRegitDate" column="head_staff_regit_date" />   -->
<!-- 		<result property="headStaffRegitId" column="head_staff_regit_id" /> -->
<!-- 		<result property="resignIdentify" column="head_staff_resign_identify" /> -->
<!-- 		<result property="headStaffPost" column="head_staff_post" />   -->
<!-- 		<result property="headStaffRoadAddr" column="head_staff_road_addr" /> -->
<!-- 		<result property="headStaffParcleAddr" column="head_staff_parcle_addr" /> -->
<!-- 		<result property="head_staff_phone_first" column="headStaffPhoneFirst" /> -->
<!-- 		<result property="head_staff_phone_second" column="headStaffPhoneSecond" /> -->
<!-- 		<result property="head_staff_phone_third" column="headStaffPhoneThird" /> -->
<!-- 	</resultMap>   -->

	<update id="updateHeadStaff" parameterType="org.ksmart.franchise.head.headStaff.model.HeadStaff" >
	
		UPDATE
			head_staff
		 SET	
			head_staff_name = #{headStaffName},
			head_staff_level = #{headStaffLevel},
			head_staff_dep = #{headStaffDep},
			head_staff_phone_first = #{headStaffPhoneFirst},
			head_staff_phone_second = #{headStaffPhoneSecond},
			head_staff_phone_third = #{headStaffPhoneThird},
			head_staff_post = #{headStaffPost},
			head_staff_road_addr = #{headStaffRoadAddr},
			head_staff_parcle_addr = #{headStaffParcleAddr}
		<if test="head_staff_resign = null">head_staff_resign = #{headStaffRegitId}</if> 
		WHERE  
			head_staff_id = #{headStaffId}	
	
	</update>
	
	<update id="updateHeadStaffResign" parameterType="java.util.Map">
		UPDATE
			head_staff
		SET
			head_staff_resign_identify = 'y',
			head_staff_resign = now()
		WHERE
			head_staff_id = #{headStaff.headStaffId}		
	</update>

</mapper>